.about-container {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
  }
  .abothed {
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 5px 10px;
    margin: 2px;
    margin-bottom: 36rem;
    
}
p {
  text-size-adjust: 94px;
  padding-right: 9rem;
}
 .image-container {
    flex: 1 1;
    padding: 20px;
}
  
  .about-text {
    flex: 2;
    padding: 20px;
  }
  .image {
    width: 20rem;
    height: 30rem;
    border-left: 33px solid #ccc;
    border-bottom: 15px solid #ccc;
    border-right: 15px solid #ccc;
    margin-left: 135px;
}

@media (max-width: 768px) {
  
p {  
  text-size-adjust: 94px;
  padding-right: 0rem;
}
  .about-container {
    flex-direction: column; 
    align-items: center; 
    padding: 10px; 
  }

  .image-container {
    padding: 0; 
    margin-bottom: 10px; 
  }

 .image {
    width: 100%;
    max-width: 226px;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-right: 22rem;
}

  .about-content {
    width: 100%; 
    padding: 10px; 
  }

  .abothed {
    margin-bottom: 10px; 
  }

  .about-text {
    width: 100%; 
    text-align: center; 
  }
}
