.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box; 
}


.custom-card {

  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  margin: 20px 0;
  padding: 20px;
  width: 100%;
  height: 100%;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.custom-image-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: gray;
  border-radius: 15px;
  margin-bottom: 10px;
}

.custom-image-wrap img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
  transition: transform 0.2s ease-in-out;
}

.custom-image-wrap:hover img {
  transform: scale(1.1);
}

.custom-content {
  flex: 1;
  padding: 10px;
  text-align: center;
}
.cla123{
  margin-left:18rem
}

.custom-technology-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.custom-tag {
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 2px;
}

.custom-tag1 {
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 5px 10px;
  
  margin: 2px;
  margin-left: 24rem;
}

.custom-link-icon {
  display: inline-block;
  background-color: #f2f2f2;
  border-radius: 40%;
  padding: 12px;
  text-decoration: none;
  color: black;
  margin-top: 10px;
}

.custom-link-icon:hover {
  background-color: #ccc;
}
@media screen and (min-width: 768px){

  .cla123 {
    margin-left: 18rem;
}


p {
    text-size-adjust: 94px;
    padding-right: 0rem;
}
  
  .custom-tag1 {
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 5px 10px;
    margin: 2px;
    margin-left: 24rem;
}
.app-container {
    align-items: flex-start;
    margin-left: 17rem;
}
  
  .custom-card {
    flex-direction: row;
    width: 60rem;
    margin: 20px 0;
  }
  
  .custom-image-wrap {
    width: 45%;
    margin-right: 10px;
  }
  
  .custom-content {
    width: 70%;
    text-align: left;
  }
}
