.navbar {
  background-color: black transparent;
}

.navbar-nav {
  margin-right: 10px;
  margin-left: auto;
}

body.light-mode {
  background-color: white;
  color: black;
}
/* ... existing CSS rules ... */


.custom-navbar {
  transition: background-color 0.3s ease-in-out;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 999;
}

.custom-navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  animation: fadeInDown 0.3s;
}

/* ... rest of your CSS rules ... */


body.dark-mode {
  background-color: black;
  color: white;
}

.btn-black {
  background-color: black;
  color: white;
  margin: 5px;
  padding: 10px;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link.features {
  margin-right: 20px;
}

.navbar-brand {
  color: aliceblue;
}



.nav-link.disabled {
  color: gray;
}

.nav-link.active {
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: underline;
}

.custom-navbar {
  transition: background-color 0.3s ease-in-out;
  max-width: 100%;
  margin: 0 auto;
}

.custom-toggle-button {
  margin-left: 49rem;
}
.custom-navbar {
  transition: background-color 0.3s ease-in-out;
  max-width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.custom-toggle-button {
  margin-left: 1rem;
  background-color: azure;
}

.checkbox {
  display: none;
}

.checkbox-label {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
  background-color: #d1d1d1;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.checkbox-label i {
  position: absolute;
  top: 4px;
  left: 4px;
  font-size: 16px;
  color: #f4f3f4;
  transition: color 0.3s ease-in-out;
}

.checkbox:checked + .checkbox-label {
  background-color: #5a5a5a;
}

.checkbox:checked + .checkbox-label i:first-child {
  color: #f1c40f;
}

.checkbox:checked + .checkbox-label i:last-child {
  color: #f4f3f4;
  left: 21px;
}

.text-light {
  --bs-text-opacity: 1;
}
@media (max-width: 768px) {
  .custom-navbar {
    padding: 10px 20px;
  }

  .custom-toggle-button {
    margin-left: 0.5rem; /* Adjust margin for responsiveness */
  }

  .navbar-nav {
    text-align: center;
    margin-left: 0;
    margin-top: 10px; /* Add margin for spacing */
  }

  .nav-link {
    margin-right: 0;
  }
}
