.text-black {
  color: black;
}

.available-text {
  color: green;
}
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.profile-details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.profile-image {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 10px rgba(128, 128, 128, 0.5);
  border-left: 30px solid rgba(128, 128, 128, 0.5);
  border-bottom: 30px solid rgba(128, 128, 128, 0.5);
  overflow: hidden;
  margin-left: 20rem;
}

.profile-text {
  margin: 2rem;
}

.profile-description {
  font-size: 18px;
  max-width: 50%;
  overflow: hidden;
  margin-left: 10px;
}

.location {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.icons {
  margin-top: 10px;
}
.heading {
  font-weight: 900;
}
.icons a {
  margin-right: 10px;
  width: 30px;
}
.custom-profile-pic {
  width: 200px;
}
@media (max-width: 1200px) {
  .location {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 5rem;
  }
  .profile-details {
    flex-direction: column;
    align-items: center;
  }
  .custom-profile-pic {
    width: 200px;
  }
  .profile-image {
    margin: 20px 0;
    width: 100%;
  }
  .profile-text {
    text-align: center;
    margin-right: 40px;
  }
  .profile-image {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-left: none;
    border-bottom: none;
    margin: 20px auto;
  }
}

